.appHeader {
  background-color: #232323;
  width: 1200px;
  height: 396px;
  top: 54px;
  left: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.appBody {
  width: 1200px;
  background-color: #232323;
  position: relative;
}

.appFooter {
  background-color: #424242;
  width: 1200px;
  height: 70px;
  top: 1771px;
  left: 58px;
  gap: 0px;
  opacity: 0px;
}

.netflix {
  color: #f65261;
  font-size: 20px;
}
