.movieForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.formField {
  display: flex;
  flex-direction: column;
}

.movieForm input,
.movieForm textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.movieFormButtons{
position: relative;
margin-top: 20px;
margin-bottom: 20px;
}

.movieFormButtonsReset{
all:unset;
position: absolute;
right: 160px;
border: 1px solid #f65261;
background-color: #232323;
padding: 10px 40px;
border-radius: 5px;
}

.movieFormButtonsSubmit{
all:unset;
position: absolute;
right: 10px;
background-color: #f65261;
color: #ffffff;
padding: 10px 40px;
border-radius: 5px;
}