.genreSelectorContainer{    
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 10px;
  left: 40px;
}

.genreSelectorContainer button{
    all: unset;
    background: none;
    padding: 0px 7.5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    background-color: #232323;
    color: #FFFFFF;
    border-bottom: 3px solid #424242;
}

.genreSelectorContainer button.active {
  border-bottom-color: #F65261;
}