.menu {
  position: absolute;
  background-color: #232323;
  color: #ffffff;
  list-style: none;
}

.menu ul {
  text-align: center;
}

.menu li:hover {
  background-color: #f65261;
}
.contextMenu {
  position: absolute;
  top: 10px;
  right: 20px;  
}
.contextMenu ul{
  right: 20px
}
.contextMenu button {
  transform: rotate(-90deg);
  transform-origin: center;
  text-align: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #232323;
  color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  font-weight: 500px;
}
