.dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat';
}

.dialog {
    width: 90%;
    max-width: 600px;
    background: #424242;
    color: #F65261;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.dialog-header h2 {
    margin: 0;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 300;
    line-height: 48.76px;
    letter-spacing: 1px;
    text-align: left;
}

.dialog-header button {
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    color: #FFFFFF;
}

.dialog-body {
    margin-top: 20px;
}