.sort-control {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;    
  }
  
  .sort-control label {
    margin-right: 10px;
    opacity: 0.7;
    color: #FFFFFF;
  }
  
  .sort-select {
    all: unset;
    background: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
  }

  .sort-option{
    all:unset;
    background-color: #232323;
    padding: 5px;
  }